.reddit_clone-create_post_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0 0.5rem 0;
}
.reddit_clone-create_post_head h3 {
  font-family: var(--font-c);
}
.reddit_clone-create_post_line {
  height: 1px;
  background-color: var(--color-bg);
  margin-bottom: 0.5rem;
}
.reddit_clone-create_post_head button {
  font-family: var(--font-c);
  border: none;
  background-color: var(--color-background);
  font-weight: bold;
  color: var(--color-a);
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 0.5rem;
}
.reddit_clone-create_post_head button span {
  color: var(--color-bg);
  background-color: var(--color-createpost-hover);
  padding: 0 0.2rem;
  font-weight: 200;
}
.reddit_clone-create_post_head button:hover {
  background-color: var(--color-border-bold);
  border-radius: 1rem;
}
.reddit_clone-create_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1rem; */
  /* margin-top: 1rem; */
  font-family: var(--font-c);
  /* justify-content: center; */
  /* width: 100%; */
  color: var(--color-text);
  background-color: var(--color-bg);
}
.reddit_clone-create_post_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-bg);
  width: 100%;
}
.reddit_clone-create_post_select {
  padding: 0.5rem;
  font-family: var(--font-c);
  border: 2px solid var(--color-border);
  text-align: start;
  margin: 0.5rem 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.reddit_clone-create_post_links > * {
  flex: 1;
}
.reddit_clone-create_post_links button {
  cursor: pointer;
  border: none;
  padding: 0.8rem 0;
  text-decoration: none;
  text-align: center;
  color: var(--color-createpost-hover);
  background-color: var(--color-bg);
  font-weight: bold;
  letter-spacing: 1px;
  height: 4rem;
}

.reddit_clone-create_post_links button {
  border: 1px solid var(--color-border);
}
.reddit_clone-create_post_links button:hover {
  /* color: var(--color-a); */
  background-color: var(--color-border);
  /* border-bottom: 2px solid var(--color-a); */
}
.reddit_clone-create_post_types {
  width: 100%;
  padding: 0.5rem;
}
