.reddit_clone-addpost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  padding: 1rem 0;
  width: 100%;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.reddit_clone-addpost_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border: none; */
}
.reddit_clone-addpost_input button {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  color: var(--color-bg);
  background-color: var(--color-orgred);
  border-radius: 1.5rem;
  font-family: var(--font-c);
  cursor: pointer;
  width: 5rem;
}

.reddit_clone-addpost_input input {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--color-inp);
  width: 100%;
  font-family: var(--font-c);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  color: var(--color-text);
}
.reddit_clone-addPost_icon {
  font-size: 3rem;
  margin: 0 0.5rem;
  color: var(--color-orgred);
}
